name: Build APK

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'

    - name: Get dependencies
      run: flutter pub get

    - name: Get version
      run: |
        VERSION=$(grep '^version:' pubspec.yaml | sed 's/version: //' | sed 's/+.*//')
        echo "VERSION=$VERSION" >> $GITHUB_ENV

    - name: Build APK
      run: flutter build apk --release --build-name ${{ env.VERSION }}

    - name: Rename APK
      run: mv build/app/outputs/flutter-apk/app-release.apk build/app/outputs/flutter-apk/app-release-${{ env.VERSION }}.apk

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-release-${{ env.VERSION }}
        path: build/app/outputs/flutter-apk/app-release-${{ env.VERSION }}.apk
